.App {
  margin: 1.2em;
}

#date {
  color: rgb(95, 122, 91);
}
.listBlock {
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items:left;
  font-weight: bold;
}

.listItem {
  display:flex;
  justify-content:flex-start;
  align-items: center;
  padding: 20px 10px 10px 10px;
  border-bottom: 1px solid black;
  font-size: 1.2em;
}

input[type=checkbox] {
  margin-right: 3%;
}

input[type=checkbox] {
  outline:0;
}

label{
  cursor: pointer;
}

.reset {
  border:none;
  border-radius: 5px;
  background-color: rgb(27, 126, 172);
  padding: 8px;
  margin: 2%;
  font-size:1.1em;
  cursor: pointer;
  color: aliceblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}